#golang {
  display: none;
}

#cSharp {
  display: none;
}

#python {
  display: none;
}

.darkMode {
  background-color: black;
  color: beige;
}

#darkness {
  margin-top: 10px;
  float: right;
}

h3{
  padding-top: 2%;
  padding-left: 4%;
}

body {
  margin: 5%;
  border: 2px solid darkblue;
}